<div class="slider-div">
<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/slider.jpg" alt="Random first slide"> 
      </div>
      <div class="carousel-caption">
        <h3>Winter Collection</h3>
        <p>We Have Exta Ordinary Quality stuff Made by pure fabric.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
           <img src="../../assets/slider-2.jpg" alt="Random second slide"> 
      </div>
      <div class="carousel-caption">
        <h3>Summer Collection</h3>
        <p>We Have Exta Ordinary Quality stuff Made by pure fabric.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
          <img src="../../assets/slider-3.jpg" alt="Random third slide"> 
      </div>
      <div class="carousel-caption">
        <h3>Mix Collection</h3>
        <p>We Have Exta Ordinary Quality stuff Made by pure fabric.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

  